@model StartPage
@inject IApi Api

@{ ViewBag.Title = Model.Title; }



<div class="container main">
    <div class="row">
        <h2>About</h2>
        <p>
            Dr Joanne Paul is Senior Lecturer in Early Modern History at the University of Sussex and AHRC/BBC New Generation Thinker. Her research focuses on the history of the Renaissance and Early Modern Periods and she has shared her work widely, including with academic presses, popular magazines and blogs and on TV and radio. She is available for comment on any of the listed projects and related topics. Please use the contact page to get in touch. Read more here.
        </p>
        <p>
            Her research focuses on the intellectual and cultural history of the Renaissance and Early Modern periods, with an attention to Early Modern England (c. 1485-1651). She has published on themes such as counsel and temporality, and figures including Thomas More, William Shakespeare and Thomas Hobbes. Joanne recently signed with Michael Joseph, an imprint of Penguin, to produce a book on the Dudley family: In the Shadow of the Block, due out in 2020.

            Academic Career
            Joanne spent her first year of university at the International Study Centre in Herstmonceux England, before finishing her joint Bachelor's (with Honours) at Queen's University, Canada, where she received the Thomas M. Walsh, M. A., Memorial Prize in History upon graduating in 2009. She completed her MA in Political Science at the University of Victoria, Canada under the supervision of James Tully and was nominated for the Lieutenant Governor’s Silver Medal for her dissertation. She received full funding for her PhD in History under the supervision of Quentin Skinner at Queen Mary, University of London, which she completed in 2013. While there she also received the Certificate in Learning and Teaching, earning her Associate Fellowship of the Higher Education Academy.

            During this time, Joanne organized a number of high-profile academic events, including the London Graduate Conference in the History of Political Thought and Institute for Historical Research Early Career Seminar in the History of Ideas. She was appointed Graduate Liaison for the Centre for the Study of the History of Political Thought at Queen Mary, University of London and founded an academic journal: The Journal of Intellectual History and the History of Political Thought. She was awarded funding grants for academic research and dissemination, including the Newberry Renaissance Consortium Grant and Stretton Fund for Postgraduate Historical Research. She held a Visiting Fellowship at the Centre for Reformation and Renaissance Studies, Victoria College, University of Toronto (2012). In 2013 she was awarded the Sir John Neale Prize in Tudor History by the Institute of Historical Research for her work on Shakespeare's Hamlet and the discourse of counsel, which was later published in Renaissance Studies.

            In 2013 Joanne joined the History Faculty at New College of the Humanities as Lecturer in the History of Political Thought. There, she taught a variety of courses including Modern Political Thought and Blasphemy, Irreligion and the English Enlightenment, as well as supervising undergraduate dissertions. She also served on examination boards, contributed to the writing of a new MA in Historical Research and Public History and Coordinated the PPE and PPH degrees.

            In 2016 Joanne was appointed Lecturer in Early Modern History at the University of Sussex, where she is also Joint Director of the Centre for Intellectual History. She is Assistant Editor of Hobbes Studies, Co-Director of the Grasping Kairos Research Network, and Convenor of the Republic of Letters group.

            In early 2017, Joanne was announced as one of 10 AHRC/BBC New Generation Thinkers whose research will be made into radio and television programmes for the BBC.

            Dr Joanne Paul, BA, MA, PhD (Queen Mary, University of London) is an award-winning historian who has published her research on the Renaissance and Early Modern periods widely.

            She is Senior Lecturer in Early Modern History at the University of Sussex, a Fellow of the Royal Historical Society and an Associate Fellow of the Higher Education Academy. She also a BBC/AHRC New Generation Thinker for 2017.

            Publications

            You can find a full list of publications on Google Scholar and the Sussex Research page. Links to articles and interviews are here.

            Joanne has published her research widely, both in academic presses and for a general readership. Her book on the thought and writing of Thomas More was published with Polity in 2016, and led to publications in History Today, History Extra, Juncture, Prospect and elsewhere, as well as speaking engagements at BBC History Weekend, the Battle of Ideas and other events around the UK and Europe.

            Her work has been published in high-quality academic journals including Renaissance Quarterly, Renaissance Studies, Hobbes Studies and Notes & Queries.

            Her next book project, Counsel and Command in Early Modern English Thought, is forthcoming in the Ideas in Context book series at Cambridge University Press in 2018, and her history of the Dudley family will be published with Michael Joseph in 2020.
        </p>
    </div>
</div>
